.main {
  .page {
    $headerHeight: 64px;
    padding-left: 300px;
    margin-top: 64px;
    min-height: calc(100vh - $headerHeight);

    .leftMenu {
      position: fixed;
      left: 0;
      top: 64px;
      max-width: 301px;
      padding-right: 1px;
      border-right: 1px solid #eee;
    }
  }
}